table {
    border-collapse: collapse;
    text-align: center;
    display: block;
}

.table-border-bottom-0,
.mytbody {
    display: block;
}

.table-border-bottom-0,
.mytbody {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 500px;
}



/* First Col Fix  */
table tr td:nth-child(1) {
    position: sticky;
    width: 1%;
    left: 0;
    z-index: 10;
    background: #f2f2f2;
}

/* table tr th:nth-child(2), */
table tr td:nth-child(2) {
    position: sticky;
    width: 100px;
    left: 0;
    z-index: 10;
    background: #f2f2f2;
}