/* table {
    border-collapse: collapse;
    display: block;
} */

/* .table-border-bottom-0,
.mytbody {
    display: block;
} */

.table-border-bottom-0,
.mytbody {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 500px;
}


/* table tr th:nth-child(2), */
table tr td:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 10;
    background: white;
}